<div class="grid">
	<div class="col-12" style="margin-bottom: -1rem;">
    <p-toolbar>
      <div class="md:ml-2 m-auto">
        @if (cityPermissions().createCity) {
          <p-button
            label="New City"
            icon="pi pi-building"
            [disabled]="loading()"
            (onClick)="openModalCity('create')">
          </p-button>
        }
      </div>
      <div class="flex justify-content-center flex-wrap align-items-center">
        <span class="p-input-icon-left mb-2">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="onGlobalFilter(dt1, $event)"
            placeholder="Search"
            [disabled]="loading()"
            class="w-full"/>
        </span>
        <span class="p-input-icon-left mb-2 mr-3">
          <button
            style="margin-left: 1rem;"
            pButton
            class="p-button-info mb-2"
            icon="pi pi-refresh"
            pTooltip="Refresh"
            tooltipPosition="bottom"
            [disabled]="loading()"
            (click)="loadListCities()">
          </button>
        </span>
      </div>
    </p-toolbar>
    <hr class="mb-1 mt-3" />
    <p-table
      #dt1
      [value]="listCities()"
      styleClass="p-datatable-sm"
      dataKey="id"
      [rows]="10"
      [loading]="loading()"
      [paginator]="true"
      [globalFilterFields]="['name','state.name', 'state.country.name']"
      responsiveLayout="scroll">
      <ng-template pTemplate="header" >
        <tr>
          <th style="min-width: 11rem" pSortableColumn="name">
            <div class="flex justify-content-between align-items-center">
              NAME
              <p-sortIcon field="name"></p-sortIcon>
            </div>
          </th>
          <th style="min-width: 11rem" pSortableColumn="state.name">
            <div class="flex justify-content-between align-items-center">
              STATE
              <p-sortIcon field="state.name"></p-sortIcon>
            </div>
          </th>
          <th style="min-width: 11rem" pSortableColumn="state.country.name">
            <div class="flex justify-content-between align-items-center">
              COUNTRY
              <p-sortIcon field="state.country.name"></p-sortIcon>
            </div>
          </th>
          <th style="min-width: 12rem" pSortableColumn="latitude">
            <div class="flex justify-content-between align-items-center">
              LATITUDE
              <p-sortIcon field="latitude"></p-sortIcon>
            </div>
          </th>
          <th style="min-width: 14rem" pSortableColumn="longitude">
            <div class="flex justify-content-between align-items-center">
              LONGITUDE
              <p-sortIcon field="longitude"></p-sortIcon>
            </div>
          </th>
          <th style="min-width: 12rem" pSortableColumn="createdAt">
            <div class="flex justify-content-between align-items-center">
                DATE OF CREATION
                <p-sortIcon field="createdAt"></p-sortIcon>
            </div>
          </th>
          @if(cityPermissions().updateCity) {
            <th style="min-width: 8rem" pSortableColumn="actions">
              <div class="flex justify-content-between align-items-center">

              </div>
            </th>
          }
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-city>
        <tr [pSelectableRow]="city">
          <td>
            {{city.name}}
          </td>
          <td>
            {{city.state.name}}
          </td>
          <td>
            {{city.state.country.name}}
          </td>
          <td>
            {{city.latitude}}
          </td>
          <td>
            {{city.longitude}}
          </td>
          <td>
            {{city.createdAt | date:'MMM dd, yyyy hh:mm a'}}
          </td>
          @if(cityPermissions().updateCity) {
            <td>
              <button
                pButton
                type="button"
                (click)="openModalCity('edit', city)"
                icon="pi pi-pencil"
                class="p-button-rounded p-button-text"
                pTooltip="Edit"
                severity="warning"
                tooltipPosition="left">
              </button>
            </td>
          }
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="8">No cities found</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="loadingbody">
        <tr>
          <td colspan="8">Loading cities, please wait</td>
        </tr>
      </ng-template>
    </p-table>
	</div>
</div>
