@if(clientDashboard()) {
  <div class="grid animate__animated animate__fadeIn">
    <div class="col-12 lg:col-4 xl:col-4">
      <div class="card p-0 overflow-hidden flex flex-column">
          <div class="flex align-items-center p-3">
              <i class="pi pi-user-plus text-6xl text-blue-500"></i>
              <div class="ml-3">
                  <span class="text-blue-500 block white-space-nowrap">REGISTERED PROSPECTS</span>
                  <span class="text-blue-500 block text-8xl font-bold">{{clientDashboard()?.totalProspects}}</span>
              </div>
          </div>
      </div>
    </div>
    <div class="col-12 lg:col-4 xl:col-4">
      <div class="card p-0 overflow-hidden flex flex-column">
          <div class="flex align-items-center p-3">
              <i class="pi pi-users text-6xl text-orange-500"></i>
              <div class="ml-3">
                  <span class="text-orange-500 block white-space-nowrap">REGISTERED CLIENTS</span>
                  <span class="text-orange-500 block text-8xl font-bold">{{clientDashboard()?.totalClients}}</span>
              </div>
          </div>
      </div>
    </div>
    <div class="col-12 lg:col-4 xl:col-4">
      <div class="card p-0 overflow-hidden flex flex-column">
          <div class="flex align-items-center p-3">
              <i class="pi pi-truck text-6xl text-green-500"></i>
              <div class="ml-3">
                  <span class="text-green-500 block white-space-nowrap">REGISTERED SUPPLIERS</span>
                  <span class="text-green-500 block text-8xl font-bold">{{supplierDashboard()}}</span>
              </div>
          </div>
      </div>
    </div>
  </div>
}
