<p class="message-pass">
    <em>
        <b> You must change your password to continue</b>
    </em>
</p>
<form [formGroup]="formChangePass" (ngSubmit)="onSubmit()">
    <div class="col-12 md:col-12">
		<div class="p-fluid">
			<div class="field">
        <label>Password <span>*</span> </label>
        <p-password formControlName="password" [feedback]="false" [toggleMask]="true" [class]="errorMsges && errorMsges.password ? 'ng-invalid ng-dirty' : ''"></p-password>
        @if(errorMsges && errorMsges.password) {
          <small id="password-help" class="p-error">{{errorMsges.password}}</small>
        }
			</div>
			<div class="field">
				<label>Password confirmation <span>*</span></label>
				<p-password formControlName="confirmPassword" [feedback]="false" [toggleMask]="true" [class]="errorMsges && errorMsges.confirmPassword ? 'ng-invalid ng-dirty' : ''"></p-password>
        @if(errorMsges && errorMsges.confirmPassword) {
          <small id="confirmPassword-help" class="p-error">{{errorMsges.confirmPassword}}</small>
        }
			</div>
		</div>

    @if ((errorMsges === null || errorMsges === undefined) && errorMessage !== '' && !loading) {
      <div class="field">
        <p-message  severity="error" [text]="errorMessage">
        </p-message>
      </div>
    }
    @if(errorMsges === undefined) {
      <p class="message-pass">
        <em>
            <b>The password must have more than 8 characters with numbers and letters.</b>
        </em>
    </p>
    }
    <br>
	</div>

    <div style="margin-top: 1rem;" class="flex flex-wrap gap-2 animate__animated animate__fadeIn" *ngIf="loading">
        <p-progressBar
            class="w-20rem animate__animated animate__fadeIn"
            mode="indeterminate">
        </p-progressBar>
    </div>
    <div class="flex flex-row-reverse animate__animated animate__fadeIn" *ngIf="!loading">
        <button
            pButton
            type="submit"
            label="Save"
            icon="pi pi-save"
            [disabled]="formChangePass.invalid"
            class="p-button-sm p-button-success">
        </button>
        <button
            pButton
            type="button"
            label="Sign Out"
            icon="pi pi-sign-out"
            class="p-button-sm p-button-danger"
            (click)="logout()">
        </button>
    </div>
</form>
