.row-success {
  background-color: rgba(61, 151, 69, 0.418) !important;
}

.row-error {
  background-color: rgba(122, 43, 43, 0.418) !important;
}

.row-warning {
  background-color: rgba(233, 185, 54, 0.418) !important;
}
