@if(formTab && showForm) {
  <div [class]="'p-fluid w-full animate__animated animate__' + animation" >
    <form [formGroup]="formTab" (ngSubmit)="onSubmit()">
      <div class="formgrid grid mt-1">
        <div class="field col-12 md:col-2 lg:col-2 xl:col-2" >
          <div class="formgrid grid">
            <div class="field col-12 md:col-12 mt-3" >
              <p-floatLabel>
                <p-autoComplete
                  [autofocus]="true"
                  formControlName="clientId"
                  [suggestions]="filteredClients"
                  (completeMethod)="searchClient($event)"
                  (onSelect)="changeClient($event)"
                  (onClear)="clearClient($event)"
                  optionValue="id"
                  [showClear]="true"
                  optionLabel="showName"/>
                <label>
                  Client
                  <span class="required">*</span>
                </label>
              </p-floatLabel>
            </div>
            <div class="field col-12 md:col-12 mt-3" >
              <p-floatLabel>
                <p-dropdown
                  [options]="listClientContact()"
                  optionLabel="name"
                  [filter]="true"
                  filterBy="name"
                  formControlName="clientContactId"
                  optionValue="id" />
                <label>
                  Client Contact
                </label>
              </p-floatLabel>
            </div>
            <div class="field col-12 md:col-12 mt-3" >
              <p-floatLabel>
                <input
                  pInputText
                  formControlName="clientAddress"
                  maxlength="150"
                  type="text"/>
                <label>
                  Client Address
                </label>
              </p-floatLabel>
            </div>
            <div class="field col-12 md:col-12 mt-3" >
              <p-floatLabel>
                <input
                  pInputText
                  formControlName="clientQrNumber"
                  maxlength="150"
                  type="text"/>
                <label>
                  Client Q#
                </label>
              </p-floatLabel>
            </div>
          </div>
        </div>
        <div class="field col-12 md:col-3 lg:col-3 xl:col-3" >
          <div class="formgrid grid">
            <div class="field col-12 md:col-6 mt-3" >
              <p-floatLabel>
                <p-dropdown
                  [options]="listCurrency()"
                  optionLabel="value"
                  formControlName="currency"
                  optionValue="key" />
                <label>
                  Currency
                  <span class="required">*</span>
                </label>
              </p-floatLabel>
            </div>
            <div class="field col-12 md:col-6 mt-3" >
              <p-floatLabel>
                <p-dropdown
                  [options]="listEmployees()"
                  optionLabel="fullName"
                  [filter]="true"
                  filterBy="name"
                  formControlName="salesRepId"
                  optionValue="id" />
                <label>
                  Sales Rep
                  <span class="required">*</span>
                </label>
              </p-floatLabel>
            </div>
            <div class="field col-12 md:col-3 mt-3" >
              <p-floatLabel>
                <p-inputNumber
                  mode="decimal"
                  [useGrouping]="false"
                  formControlName="leadTime" />
                <label>
                  Lead Time
                </label>
              </p-floatLabel>
            </div>
            <div class="field col-12 md:col-3 mt-3" >
              <p-floatLabel>
                <p-dropdown
                  [options]="listLeadTimeType()"
                  optionLabel="value"
                  formControlName="leadTimeType"
                  optionValue="key" />
                <label>
                 Type
                </label>
              </p-floatLabel>
            </div>
            <div class="field col-12 md:col-3 mt-3" >
              <p-floatLabel>
                <p-inputNumber
                  mode="decimal"
                  [useGrouping]="false"
                  formControlName="validity" />
                <label>
                  Validity
                </label>
              </p-floatLabel>
            </div>
            <div class="field col-12 md:col-3 mt-3" >
              <p-floatLabel>
                <p-dropdown
                  [options]="listLeadTimeType()"
                  optionLabel="value"
                  formControlName="validityType"
                  optionValue="key" />
                <label>
                  Type
                </label>
              </p-floatLabel>
            </div>
            <div class="field col-12 md:col-6 mt-3" >
              <p-floatLabel>
                <p-dropdown
                  [options]="listIncoterms()"
                  optionLabel="value"
                  formControlName="incoterms"
                  optionValue="key" />
                <label>
                  Incoterms
                </label>
              </p-floatLabel>
            </div>
            <div class="field col-12 md:col-6 mt-3" >
              <p-floatLabel>
                <p-dropdown
                  [options]="listPaymenTerms()"
                  optionLabel="value"
                  formControlName="paymentTerms"
                  optionValue="key" />
                <label>
                  Payment Terms
                </label>
              </p-floatLabel>
            </div>
            <div class="field col-12 md:col-6 mt-3" >
              <p-floatLabel>
                <p-dropdown
                  [options]="listIpQuotationStatus()"
                  optionLabel="value"
                  (onChange)="changeStatus($event)"
                  formControlName="status"
                  optionValue="key" />
                <label>
                  Status
                  <span class="required">*</span>
                </label>
              </p-floatLabel>
            </div>
            <div class="field col-12 md:col-6 mt-3" >
              <p-floatLabel>
                <p-inputNumber
                  mode="decimal"
                  [useGrouping]="false"
                  suffix=" lbs"
                  [max]="999999999999"
                  formControlName="grossWeightLbs" />
                <label>
                  Gross Weight
                </label>
              </p-floatLabel>
            </div>
            <div class="field col-12 md:col-9 mt-3" ></div>
            <div class="field col-12 md:col-3 mt-3" >
              @if (tabItem.type !== 'view') {
                <button pButton
                  label="Save"
                  icon="pi pi-save"
                  severity="success"
                  [disabled]="formTab.disabled || formTab.invalid || tabItem.pristine"
                  type="submit">
                </button>
              }
            </div>
          </div>
        </div>
        <div class="field col-12 md:col-2 lg:col-2 xl:col-2" >
          <p-tabView>
                <p-tabPanel header="Remarks">
                  <textarea
                    [rows]="9"
                    pInputTextarea
                    style="resize: none"
                    placeholder="Remarks"
                    formControlName="remarks">
                  </textarea>
                </p-tabPanel>
                <p-tabPanel header="Internal Remarks">
                  <textarea
                    [rows]="9"
                    pInputTextarea
                    placeholder="Internal Remarks"
                    style="resize: none"
                    formControlName="internalRemarks">
                  </textarea>
                </p-tabPanel>
          </p-tabView>
        </div>
        <div class="field col-12 md:col-5 lg:col-5 xl:col-5" >
          <div class="formgrid grid">
            <!-- QUOTE REQUESTS -->
            <div class="field col-12 md:col-4 mt-1" >
              <p-scrollPanel [style]="{ width: '100%', height: '19.05rem' }">
                <p-table
                  #dtQrList
                  styleClass="p-datatable-sm"
                  [value]="item()?.listQuoteRequests ?? []"
                  dataKey="id"
                  [loading]="loading()">
                  <ng-template pTemplate="caption">
                    <div style="text-align: center !important;">
                        <b>QUOTE REQUESTS</b>
                    </div>
                  </ng-template>
                  <ng-template pTemplate="header" >
                    <tr>
                      <th>
                        <div class="flex justify-content-between">
                          #
                        </div>
                      </th>
                      <th>
                        <div class="flex justify-content-between">
                        </div>
                      </th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-qr>
                    <tr [pSelectableRow]="qr">
                      <td>
                        {{qr.number}}
                      </td>
                      <td style="text-align: end;">
                        <button
                          pButton
                          type="button"
                          icon="pi pi-eye"
                          class="p-button-rounded p-button-text"
                          pTooltip="View"
                          severity="info"
                          (click)="openQuoteRequest(qr)"
                          tooltipPosition="left">
                        </button>
                        @if (tabItem.type === 'edit' && permissions().updateIpQuotation) {
                          <button
                            pButton
                            type="button"
                            icon="pi pi-trash"
                            class="p-button-rounded p-button-text p-button-danger"
                            pTooltip="Remove QR from Quotation"
                            severity="danger"
                            (click)="removeQuoteRequest(qr)"
                            tooltipPosition="left">
                          </button>
                        }
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </p-scrollPanel>
            </div>
            <!-- CLONED QUOTATIONS -->
            <div class="field col-12 md:col-4 mt-1" >
              <p-scrollPanel [style]="{ width: '100%', height: '19.05rem' }">
                <p-table
                  #dtClonedQ
                  styleClass="p-datatable-sm"
                  [value]="item()?.clonedQuotations ?? []"
                  dataKey="id"
                  [loading]="loading()">
                  <ng-template pTemplate="caption">
                    <div style="text-align: center !important;">
                        <b>CLONED QUOTATIONS</b>
                    </div>
                  </ng-template>
                  <ng-template pTemplate="header" >
                    <tr>
                      <th>
                        <div class="flex justify-content-between">
                          #
                        </div>
                      </th>
                      <th>
                        <div class="flex justify-content-between">
                        </div>
                      </th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-clonedQ>
                    <tr [pSelectableRow]="clonedQ">
                      <td>
                        {{clonedQ.number}}
                      </td>
                      <td style="text-align: end;">
                        <button
                          pButton
                          type="button"
                          icon="pi pi-eye"
                          class="p-button-rounded p-button-text"
                          pTooltip="View"
                          severity="info"
                          (click)="openQuotation(clonedQ)"
                          tooltipPosition="left">
                        </button>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </p-scrollPanel>
            </div>
            <!-- PURCHASE ORDERS -->
            <div class="field col-12 md:col-4 mt-1" >
              <p-scrollPanel [style]="{ width: '100%', height: '19.05rem' }">
                <p-table
                  #dtPO
                  styleClass="p-datatable-sm"
                  [value]="item()?.listPurchaseOrders ?? []"
                  dataKey="id"
                  [loading]="loading()">
                  <ng-template pTemplate="caption">
                    <div style="text-align: center !important;">
                        <b>PURCHASE ORDERS</b>
                    </div>
                  </ng-template>
                  <ng-template pTemplate="header" >
                    <tr>
                      <th>
                        <div class="flex justify-content-between">
                          #
                        </div>
                      </th>
                      <th>
                        <div class="flex justify-content-between">
                        </div>
                      </th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-po>
                    <tr [pSelectableRow]="po">
                      <td>
                        {{po.number}}
                      </td>
                      <td style="text-align: end;">
                        <button
                          pButton
                          type="button"
                          icon="pi pi-eye"
                          class="p-button-rounded p-button-text"
                          pTooltip="View"
                          severity="info"
                          (click)="openPurchaseOrder(po)"
                          tooltipPosition="left">
                        </button>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </p-scrollPanel>
            </div>
            <div class="field col-12 md:col-1 mt-1"></div>
            <div class="field col-12 md:col-2 mt-1">
              <button pButton
                label="Add QR"
                icon="pi pi-plus"
                severity="success"
                [outlined]="true"
                (click)="openModalAddQuoteRequests()"
                [disabled]="!(tabItem.type === 'edit' && item()?.status === 'CREATED')"
                type="button">
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 md:col-12 mt-1">
        <div class="formgrid grid">
          <div class="col-12 md:col-10">
            <p-table
              #dtProducts
              styleClass="p-datatable-sm"
              [value]="getListProducts().controls"
              [scrollable]="true"
              scrollHeight="30rem"
              dataKey="value.id"
              [loading]="loading()">
              <ng-template pTemplate="header">
                <tr>
                  <th style="min-width: 8rem">
                    <div class="flex justify-content-between">
                      QR #
                    </div>
                  </th>
                  <th style="min-width: 15rem">
                    <div class="flex justify-content-between">
                      DESCRIPTION
                    </div>
                  </th>
                  <th style="min-width: 10rem">
                    <div class="flex justify-content-between">
                      MFR REFERENCE
                    </div>
                  </th>
                  <th style="min-width: 6rem">
                    <div class="flex justify-content-between">
                      QTY
                    </div>
                  </th>
                  <th style="min-width: 6rem">
                    <div class="flex justify-content-between">
                      TYPE
                    </div>
                  </th>
                  <th style="min-width: 10rem">
                    <div class="flex justify-content-between">
                      UNIT PRICE
                    </div>
                  </th>
                  <th style="min-width: 8rem">
                    <div class="flex justify-content-between">
                      CONDITION
                    </div>
                  </th>
                  <th style="min-width: 10rem">
                    <div class="flex justify-content-between">
                      COMPLIANCE INFO
                    </div>
                  </th>
                  <th style="min-width: 8rem">
                    <div class="flex justify-content-between">
                      LEAD TIME
                    </div>
                  </th>
                  <th style="min-width: 9rem">
                    <div class="flex justify-content-between">
                      PROFIT MARGIN
                    </div>
                  </th>
                  <th style="min-width: 10rem">
                    <div class="flex justify-content-between">
                      SELLING PRICE
                    </div>
                  </th>
                  <th style="min-width: 10rem">
                    <div class="flex justify-content-between">
                      EXTENDED PRICE
                    </div>
                  </th>
                  @if (tabItem.type === 'edit' && permissions().updateIpQuotation) {
                    <th style="min-width: 5rem; text-align: end;">
                      ACTIONS
                    </th>
                  }
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-productControl let-rowIndex="rowIndex">
                <tr [formGroup]="productControl">
                  <td>
                    @if (item()?.listQuoteRequests) {
                      @for (qr of item()!.listQuoteRequests; track qr.id) {
                        @if (qr.id === productControl.value.quotationsQuoteRequestId) {
                          <button
                            pButton
                            [label]="qr.number || ''"
                            [text]="true"
                            severity="primary"
                            (click)="openQuoteRequest(qr)"
                            type="button">
                          </button>
                        }
                      }
                    }
                  </td>
                  <td>
                    {{ productControl.value.description }}
                  </td>
                  <td>
                    {{ productControl.value.mfrReference }}
                  </td>
                  <td style="text-align: center;">
                    {{ productControl.value.quantity }} {{ productControl.value.unitType }}
                  </td>
                  <td style="text-align: center;">
                    <!-- TODO: Add type field to product model -->
                    -
                  </td>
                  <td style="text-align: right;">
                    {{ productControl.value.unitPrice | customCurrency:formTab.value.currency:'1.2-5' }}
                  </td>
                  <td style="text-align: center;">
                    {{ productControl.value.condition || '-' }}
                  </td>
                  <td style="text-align: center;">
                    <!-- TODO: Add complianceInfo field to product model -->
                    -
                  </td>
                  <td style="text-align: center;">
                    <!-- TODO: Add leadTime field to product model -->
                    -
                  </td>
                  <td style="text-align: right;">
                    {{ productControl.value.profitMargin }}%
                  </td>
                  <td style="text-align: right;">
                    {{ productControl.value.sellingUnitPrice | customCurrency:formTab.value.currency:'1.2-5' }}
                  </td>
                  <td style="text-align: right;">
                    {{ productControl.value.extendedPrice | customCurrency:formTab.value.currency:'1.2-5' }}
                  </td>
                  @if (tabItem.type === 'edit' && permissions().updateIpQuotation) {
                    <td style="text-align: end;">
                      <button
                        pButton
                        type="button"
                        icon="pi pi-pencil"
                        class="p-button-rounded p-button-text"
                        pTooltip="Edit"
                        severity="warning"
                        (click)="openModalProduct('edit', productControl.value.id)"
                        tooltipPosition="left">
                      </button>
                      <button
                        pButton
                        type="button"
                        icon="pi pi-trash"
                        class="p-button-rounded p-button-text"
                        pTooltip="Remove"
                        severity="danger"
                        (click)="removeProduct(productControl.value)"
                        tooltipPosition="right">
                      </button>
                    </td>
                  }
                </tr>
              </ng-template>
            </p-table>
          </div>
          <div class="col-12 md:col-2">
            <div class="formgrid grid">
              <div class="field col-12 md:col-6 mt-3">
                <button pButton
                  label="Add Product"
                  icon="pi pi-plus"
                  severity="success"
                  [outlined]="true"
                  (click)="openModalProduct('create')"
                  [disabled]="tabItem.type !== 'edit'"
                  type="button">
                </button>
              </div>
              <div class="field col-12 md:col-6 mt-3">
                <button pButton
                  label="Clone Q"
                  icon="pi pi-copy"
                  severity="secondary"
                  [outlined]="true"
                  [disabled]="!(permissions().updateIpQuotation && tabItem.type !== 'create')"
                  (click)="cloneQ()"
                  type="button">
                </button>
              </div>
            </div>
            <div class="formgrid grid">
              <div class="field col-12 md:col-6 mt-1">
                <button pButton
                  label="Print"
                  icon="pi pi-print"
                  severity="help"
                  [outlined]="true"
                  (click)="printQR()"
                  [disabled]="tabItem.type === 'create' || item()?.products?.length === 0 || !tabItem.pristine"
                  type="button">
                </button>
              </div>
              <div class="field col-12 md:col-6 mt-1">
                <button pButton
                  label="Print & Send"
                  icon="pi pi-send"
                  severity="info"
                  [outlined]="true"
                  [disabled]="tabItem.type !== 'edit' || item()?.products?.length === 0 || !tabItem.pristine"
                  (click)="printAndSendQR()"
                  type="button">
                </button>
              </div>
            </div>
            <div class="formgrid grid">
              <div class="field col-12 md:col-12 mt-3">
                <p-floatLabel>
                  <p-inputNumber
                    [inputStyle]="{ 'text-align': 'right' }"
                    mode="currency"
                    [currency]="formTab.value.currency"
                    currencyDisplay="code"
                    [max]="999999999999"
                    formControlName="subTotal" />
                  <label>
                    SubTotal
                  </label>
                </p-floatLabel>
              </div>
              <div class="field col-12 md:col-12 mt-3">
                <p-floatLabel>
                  <p-inputNumber
                    [inputStyle]="{ 'text-align': 'right' }"
                    mode="currency"
                    [currency]="formTab.value.currency"
                    currencyDisplay="code"
                    [minFractionDigits]="5"
                    [maxFractionDigits]="5"
                    [max]="999999999999"
                    formControlName="freightCharges" />
                  <label>
                    Freight Charges
                  </label>
                </p-floatLabel>
              </div>
              <div class="field col-12 md:col-10 mt-3">
                <p-floatLabel>
                  <p-inputNumber
                    [inputStyle]="{ 'text-align': 'right' }"
                    mode="currency"
                    [currency]="formTab.value.currency"
                    currencyDisplay="code"
                    [max]="999999999999"
                    formControlName="otherCharges" />
                  <label>
                    Other Charges
                  </label>
                </p-floatLabel>
              </div>
              <div class="field col-12 md:col-2 mt-3" style="margin-left: -1rem;">
                <button pButton
                  icon="pi pi-pencil"
                  severity="warning"
                  [outlined]="true"
                  (click)="openModalListOtherCharges()"
                  [disabled]="tabItem.type === 'create'"
                  type="button">
                </button>
              </div>
              <div class="field col-12 md:col-12 mt-3">
                <p-floatLabel>
                  <p-inputNumber
                    [inputStyle]="{ 'text-align': 'right' }"
                    mode="currency"
                    [currency]="formTab.value.currency"
                    currencyDisplay="code"
                    [max]="999999999999"
                    formControlName="total" />
                  <label>
                    Total
                  </label>
                </p-floatLabel>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Footer: Dates -->
      <div class="formgrid grid" style="margin-bottom: -2.5rem;">
        <div class="field col-12 md:col-12 lg:col-12 xl:col-12 md:mt-5 lg:mt-5 xl:mt-5">
          @if(item() && item()?.createdAt) {
            <p-chip>
              <div class="p-2">
                <b>Created: </b>
                {{item()?.createdAt | date:'MMM dd, yyyy hh:mm a'}}
              </div>
            </p-chip>
          }
          @if(item() && item()?.sentAt) {
            <p-chip class="date">
              <div class="p-2">
                <b>Sent: </b>
                {{item()?.sentAt | date:'MMM dd, yyyy hh:mm a'}}
              </div>
            </p-chip>
          }
          @if(item() && item()?.answeredAt) {
            <p-chip class="date">
              <div class="p-2">
                <b>Answered: </b>
                {{item()?.answeredAt | date:'MMM dd, yyyy hh:mm a'}}
              </div>
            </p-chip>
          }
          @if(item() && item()?.completeAt) {
            <p-chip class="date">
              <div class="p-2">
                <b>Complete: </b>
                {{item()?.completeAt | date:'MMM dd, yyyy hh:mm a'}}
              </div>
            </p-chip>
          }
          @if(item() && item()?.rejectAt) {
            <p-chip class="date">
              <div class="p-2">
                <b>Rejected: </b>
                {{item()?.rejectAt | date:'MMM dd, yyyy hh:mm a'}}
              </div>
            </p-chip>
          }
        </div>
      </div>
    </form>
  </div>
}@else {
  @if (loading()) {
    <div class="field col animate__animated animate__fadeIn">
      <p-progressBar
          class="w-20rem animate__animated animate__fadeIn"
          mode="indeterminate">
      </p-progressBar>
    </div>
  }
}
