@if(formTab && showForm) {
  <div [class]="'p-fluid w-full animate__animated animate__' + animation" >
    <form [formGroup]="formTab" (ngSubmit)="onSubmit()">
      <div class="formgrid grid mt-1">
        <div class="field col-12 md:col-2 lg:col-2 xl:col-2" >
          <div class="formgrid grid">
            <div class="field col-12 md:col-12 mt-3" >
              <p-floatLabel>
                <p-autoComplete
                  [autofocus]="true"
                  formControlName="clientId"
                  [suggestions]="filteredClients"
                  (completeMethod)="searchClient($event)"
                  (onSelect)="changeClient($event)"
                  (onClear)="clearClient($event)"
                  optionValue="id"
                  [showClear]="true"
                  optionLabel="showName"/>
                <label>
                  Client
                  <span class="required">*</span>
                </label>
              </p-floatLabel>
            </div>
            <div class="field col-12 md:col-12 mt-3" >
              <p-floatLabel>
                <p-dropdown
                  [options]="listClientContact()"
                  optionLabel="name"
                  [filter]="true"
                  filterBy="name"
                  formControlName="clientContactId"
                  optionValue="id" />
                <label>
                  Client Contact
                </label>
              </p-floatLabel>
            </div>
            <div class="field col-12 md:col-12 mt-3" >
              <p-floatLabel>
                <input
                  pInputText
                  formControlName="clientAddress"
                  maxlength="150"
                  type="text"/>
                <label>
                  Client Address
                </label>
              </p-floatLabel>
            </div>
            <div class="field col-12 md:col-12 mt-3" >
              <p-floatLabel>
                <input
                  pInputText
                  formControlName="clientQrNumber"
                  maxlength="150"
                  type="text"/>
                <label>
                  Client Q#
                </label>
              </p-floatLabel>
            </div>
          </div>
        </div>
        <div class="field col-12 md:col-3 lg:col-3 xl:col-3" >
          <div class="formgrid grid">
            <div class="field col-12 md:col-6 mt-3" >
              <p-floatLabel>
                <p-dropdown
                  [options]="listCurrency()"
                  optionLabel="value"
                  formControlName="currency"
                  optionValue="key" />
                <label>
                  Currency
                  <span class="required">*</span>
                </label>
              </p-floatLabel>
            </div>
            <div class="field col-12 md:col-6 mt-3" >
              <p-floatLabel>
                <p-dropdown
                  [options]="listEmployees()"
                  optionLabel="fullName"
                  [filter]="true"
                  filterBy="name"
                  formControlName="salesRepId"
                  optionValue="id" />
                <label>
                  Sales Rep
                  <span class="required">*</span>
                </label>
              </p-floatLabel>
            </div>
            <div class="field col-12 md:col-3 mt-3" >
              <p-floatLabel>
                <p-inputNumber
                  mode="decimal"
                  [useGrouping]="false"
                  formControlName="leadTime" />
                <label>
                  Lead Time
                </label>
              </p-floatLabel>
            </div>
            <div class="field col-12 md:col-3 mt-3" >
              <p-floatLabel>
                <p-dropdown
                  [options]="listLeadTimeType()"
                  optionLabel="value"
                  formControlName="leadTimeType"
                  optionValue="key" />
                <label>
                 Type
                </label>
              </p-floatLabel>
            </div>
            <div class="field col-12 md:col-3 mt-3" >
              <p-floatLabel>
                <p-inputNumber
                  mode="decimal"
                  [useGrouping]="false"
                  formControlName="validity" />
                <label>
                  Validity
                </label>
              </p-floatLabel>
            </div>
            <div class="field col-12 md:col-3 mt-3" >
              <p-floatLabel>
                <p-dropdown
                  [options]="listLeadTimeType()"
                  optionLabel="value"
                  formControlName="validityType"
                  optionValue="key" />
                <label>
                  Type
                </label>
              </p-floatLabel>
            </div>
            <div class="field col-12 md:col-6 mt-3" >
              <p-floatLabel>
                <p-dropdown
                  [options]="listIncoterms()"
                  optionLabel="value"
                  formControlName="incoterms"
                  optionValue="key" />
                <label>
                  Incoterms
                </label>
              </p-floatLabel>
            </div>
            <div class="field col-12 md:col-6 mt-3" >
              <p-floatLabel>
                <p-dropdown
                  [options]="listPaymenTerms()"
                  optionLabel="value"
                  formControlName="paymentTerms"
                  optionValue="key" />
                <label>
                  Payment Terms
                </label>
              </p-floatLabel>
            </div>
            <div class="field col-12 md:col-6 mt-3" >
              <p-floatLabel>
                <p-dropdown
                  [options]="listIpQuotationStatus()"
                  optionLabel="value"
                  (onChange)="changeStatus($event)"
                  formControlName="status"
                  optionValue="key" />
                <label>
                  Status
                  <span class="required">*</span>
                </label>
              </p-floatLabel>
            </div>
            <div class="field col-12 md:col-6 mt-3" >
              <p-floatLabel>
                <p-inputNumber
                  mode="decimal"
                  [useGrouping]="false"
                  suffix=" lbs"
                  [max]="999999999999"
                  formControlName="grossWeightLbs" />
                <label>
                  Gross Weight
                </label>
              </p-floatLabel>
            </div>
            <div class="field col-12 md:col-9 mt-3" ></div>
            <div class="field col-12 md:col-3 mt-3" >
              @if (tabItem.type !== 'view') {
                <button pButton
                  label="Save"
                  icon="pi pi-save"
                  severity="success"
                  [disabled]="formTab.disabled || formTab.invalid || tabItem.pristine"
                  type="submit">
                </button>
              }
            </div>
          </div>
        </div>
        <div class="field col-12 md:col-2 lg:col-2 xl:col-2" >
          <p-tabView>
                <p-tabPanel header="Remarks">
                  <textarea
                    [rows]="9"
                    pInputTextarea
                    style="resize: none"
                    placeholder="Remarks"
                    formControlName="remarks">
                  </textarea>
                </p-tabPanel>
                <p-tabPanel header="Internal Remarks">
                  <textarea
                    [rows]="9"
                    pInputTextarea
                    placeholder="Internal Remarks"
                    style="resize: none"
                    formControlName="internalRemarks">
                  </textarea>
                </p-tabPanel>
          </p-tabView>
        </div>
        <div class="field col-12 md:col-5 lg:col-5 xl:col-5" >
          <div class="formgrid grid">
            <!-- QUOTE REQUESTS -->
            <div class="field col-12 md:col-4 mt-1" >
              <p-scrollPanel [style]="{ width: '100%', height: '19.05rem' }">
                <p-table
                  #dtQrList
                  styleClass="p-datatable-sm"
                  [value]="item()?.listQuoteRequests ?? []"
                  dataKey="id"
                  [loading]="loading()">
                  <ng-template pTemplate="caption">
                    <div style="text-align: center !important;">
                        <b>QUOTE REQUESTS</b>
                    </div>
                  </ng-template>
                  <ng-template pTemplate="header" >
                    <tr>
                      <th>
                        <div class="flex justify-content-between">
                          #
                        </div>
                      </th>
                      <th>
                        <div class="flex justify-content-between">
                        </div>
                      </th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-qr>
                    <tr [pSelectableRow]="qr">
                      <td>
                        {{qr.number}}
                      </td>
                      <td style="text-align: end;">
                        <button
                          pButton
                          type="button"
                          icon="pi pi-eye"
                          class="p-button-rounded p-button-text"
                          pTooltip="View"
                          severity="info"
                          (click)="openQuoteRequest(qr)"
                          tooltipPosition="left">
                        </button>
                        @if (tabItem.type === 'edit' && permissions().updateIpQuotation) {
                          <button
                            pButton
                            type="button"
                            icon="pi pi-trash"
                            class="p-button-rounded p-button-text p-button-danger"
                            pTooltip="Remove QR from Quotation"
                            severity="danger"
                            (click)="removeQuoteRequest(qr)"
                            tooltipPosition="left">
                          </button>
                        }
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </p-scrollPanel>
            </div>
            <!-- CLONED QUOTATIONS -->
            <div class="field col-12 md:col-4 mt-1" >
              <p-scrollPanel [style]="{ width: '100%', height: '19.05rem' }">
                <p-table
                  #dtClonedQ
                  styleClass="p-datatable-sm"
                  [value]="item()?.clonedQuotations ?? []"
                  dataKey="id"
                  [loading]="loading()">
                  <ng-template pTemplate="caption">
                    <div style="text-align: center !important;">
                        <b>CLONED QUOTATIONS</b>
                    </div>
                  </ng-template>
                  <ng-template pTemplate="header" >
                    <tr>
                      <th>
                        <div class="flex justify-content-between">
                          #
                        </div>
                      </th>
                      <th>
                        <div class="flex justify-content-between">
                        </div>
                      </th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-clonedQ>
                    <tr [pSelectableRow]="clonedQ">
                      <td>
                        {{clonedQ.number}}
                      </td>
                      <td style="text-align: end;">
                        <button
                          pButton
                          type="button"
                          icon="pi pi-eye"
                          class="p-button-rounded p-button-text"
                          pTooltip="View"
                          severity="info"
                          (click)="openQuotation(clonedQ)"
                          tooltipPosition="left">
                        </button>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </p-scrollPanel>
            </div>
            <!-- PURCHASE ORDERS -->
            <div class="field col-12 md:col-4 mt-1" >
              <p-scrollPanel [style]="{ width: '100%', height: '19.05rem' }">
                <p-table
                  #dtPO
                  styleClass="p-datatable-sm"
                  [value]="item()?.listPurchaseOrders ?? []"
                  dataKey="id"
                  [loading]="loading()">
                  <ng-template pTemplate="caption">
                    <div style="text-align: center !important;">
                        <b>PURCHASE ORDERS</b>
                    </div>
                  </ng-template>
                  <ng-template pTemplate="header" >
                    <tr>
                      <th>
                        <div class="flex justify-content-between">
                          #
                        </div>
                      </th>
                      <th>
                        <div class="flex justify-content-between">
                        </div>
                      </th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-po>
                    <tr [pSelectableRow]="po">
                      <td>
                        {{po.number}}
                      </td>
                      <td style="text-align: end;">
                        <button
                          pButton
                          type="button"
                          icon="pi pi-eye"
                          class="p-button-rounded p-button-text"
                          pTooltip="View"
                          severity="info"
                          (click)="openPurchaseOrder(po)"
                          tooltipPosition="left">
                        </button>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </p-scrollPanel>
            </div>
            <div class="field col-12 md:col-1 mt-1"></div>
            <div class="field col-12 md:col-2 mt-1">
              <button pButton
                label="Add QR"
                icon="pi pi-plus"
                severity="success"
                [outlined]="true"
                (click)="openModalAddQuoteRequests()"
                [disabled]="!(tabItem.type === 'edit' && item()?.status === 'CREATED')"
                type="button">
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 md:col-12 mt-1">
        <div class="formgrid grid">
          <div class="col-12 md:col-10">
            <p-table
              #dtProducts
              styleClass="p-datatable-sm"
              [value]="getListProducts().controls"
              [scrollable]="true"
              scrollHeight="30rem"
              dataKey="value.id"
              [loading]="loading()">
              <ng-template pTemplate="header">
                <tr>
                  <th style="min-width: 3rem">
                    <div class="flex justify-content-between">
                      #
                    </div>
                  </th>
                  <th style="min-width: 7rem">
                    <div class="flex justify-content-between">
                      QUANTITY
                    </div>
                  </th>
                  <th style="min-width: 7rem">
                    <div class="flex justify-content-between">
                      TYPE
                    </div>
                  </th>
                  <th style="min-width: 8rem">
                    <div class="flex justify-content-between">
                      QR NUMBER
                    </div>
                  </th>
                  <th style="min-width: 20rem">
                    <div class="flex justify-content-between">
                      SUPPLIER
                    </div>
                  </th>
                  <th style="min-width: 18rem">
                    <div class="flex justify-content-between">
                      COMPLIANCE INFO
                    </div>
                  </th>
                  <th style="min-width: 30rem">
                    <div class="flex justify-content-between">
                      DESCRIPTION
                    </div>
                  </th>
                  <th style="min-width: 10rem">
                    <div class="flex justify-content-between">
                      REFERENCE
                    </div>
                  </th>
                  <th style="min-width: 8rem">
                    <div class="flex justify-content-between">
                      LEAD TIME
                    </div>
                  </th>
                  <th style="min-width: 8rem" pFrozenColumn alignFrozen="right">
                    <div class="flex justify-content-center">
                      MARGIN
                    </div>
                  </th>
                  <th style="min-width: 4rem" pFrozenColumn alignFrozen="right">
                    <div class="flex justify-content-end">
                      PRICE
                    </div>
                  </th>
                  <th style="min-width: 13rem" pFrozenColumn alignFrozen="right">
                    <div class="flex justify-content-end">
                      PURCHASE
                    </div>
                  </th>
                  <th style="min-width: 13rem" pFrozenColumn alignFrozen="right">
                    <div class="flex justify-content-end">
                      SELLING
                    </div>
                  </th>
                  <th style="min-width: 10rem; text-align: end;" pFrozenColumn alignFrozen="right">
                    <div class="flex justify-content-end"></div>
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-product let-index="rowIndex">
                <tr [formGroup]="product">
                  <td>
                    {{index + 1}}
                  </td>
                  <td>
                    {{ product.value.quantity }}
                  </td>
                  <td>
                    {{ product.value.unitType ? product.value.unitType.replace('_', ' ') : '-' }}
                  </td>
                  <td>
                    {{ product.value.qrNumber }}
                  </td>
                  <td>
                    {{ product.value.supplierName }}
                  </td>
                  <td>
                    <div class="formgrid grid">
                      <div class="field col-12 md:col-5 tittle">
                        <b>HTS: </b>
                      </div>
                      <div class="field col-12 md:col-7">
                        {{product.value.hts}}
                      </div>
                      <div class="field col-12 md:col-5 tittle">
                        <b>DUAL USE: </b>
                      </div>
                      <div class="field col-12 md:col-7">
                        {{product.value.dualUse ? 'YES': 'NO'}}
                      </div>
                      <div class="field col-12 md:col-5 tittle">
                        <b>ECCN: </b>
                      </div>
                      <div class="field col-12 md:col-7">
                        {{product.value.eccn}}
                      </div>
                      <div class="field col-12 md:col-5 tittle">
                        <b>CONDITION: </b>
                      </div>
                      <div class="field col-12 md:col-7">
                        {{product.value.condition || '-'}}
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="formgrid grid">
                      <div class="field col-12 md:col-3 tittle">
                        <b>SUPPLIER: </b>
                      </div>
                      <div class="field col-12 md:col-9">
                        {{product.value.description}}
                      </div>
                      <div class="field col-12 md:col-3 tittle">
                        <b>CLIENT: </b>
                      </div>
                      <div class="field col-12 md:col-9">
                        {{product.value.clientDescription}}
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="formgrid grid">
                      <div class="field col-12">
                        {{product.value.mfrReference || '-'}}
                      </div>
                      <div class="field col-12">
                        {{product.value.clientReference || '-'}}
                      </div>
                    </div>
                  </td>
                  <td>
                    {{product.value.leadTime + ' ' + product.value.leadTimeType}}
                  </td>
                  <td style="text-align: center !important;" pFrozenColumn alignFrozen="right">
                    {{ product.value.profitMargin }}%
                  </td>
                   <td style="text-align: end;" pFrozenColumn alignFrozen="right">
                    <div class="formgrid grid">
                      <div class="field col-12 md:col-12 tittle">
                        <b>UNIT: </b>
                      </div>
                      <div class="field col-12 md:col-12 tittle">
                        <b>EXTENDED: </b>
                      </div>
                    </div>
                  </td>
                  <td style="text-align: end;" pFrozenColumn alignFrozen="right">
                    <div class="formgrid grid">
                      <div class="field col-12 md:col-12" style="text-align: right;">
                        {{ product.value.unitPrice | customCurrency:getCurrency():'1.2-5' }}
                      </div>
                      <div class="field col-12 md:col-12" style="text-align: right;">
                        {{product.value.extendedPrice | customCurrency:getCurrency():'1.2-2'}}
                      </div>
                    </div>
                  </td>

                  <td style="text-align: end;" pFrozenColumn alignFrozen="right">
                    <div class="formgrid grid">
                      <div class="field col-12 md:col-12" style="text-align: right;">
                        {{ product.value.sellingUnitPrice | customCurrency:getCurrency():'1.2-5' }}
                      </div>
                      <div class="field col-12 md:col-12" style="text-align: right;">
                        {{product.value.sellingExtendedPrice | customCurrency:getCurrency():'1.2-2'}}
                      </div>
                    </div>
                  </td>
                  <td style="text-align: end;" pFrozenColumn alignFrozen="right">
                    @if (tabItem.type === 'edit' && permissions().updateIpQuotation) {
                      <button
                        pButton
                        type="button"
                        icon="pi pi-pencil"
                        class="p-button-rounded p-button-text"
                        pTooltip="Edit"
                        severity="warning"
                        (click)="openModalEditProduct(product.value.id)"
                        tooltipPosition="left">
                      </button>
                      <button
                        pButton
                        type="button"
                        icon="pi pi-box"
                        class="p-button-rounded p-button-text"
                        pTooltip="Open Product"
                        severity="secondary"
                        (click)="openProduct(product.value.ipProductId)"
                        tooltipPosition="bottom">
                      </button>
                      <button
                        pButton
                        type="button"
                        icon="pi pi-trash"
                        class="p-button-rounded p-button-text"
                        pTooltip="Remove"
                        severity="danger"
                        (click)="removeProduct(product.value)"
                        tooltipPosition="right">
                      </button>
                    }
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
          <div class="col-12 md:col-2">
            <div class="formgrid grid">
              <div class="field col-12 md:col-6 mt-3">
                <button pButton
                  label="Add Product"
                  icon="pi pi-plus"
                  severity="success"
                  [outlined]="true"
                  (click)="openModalAddProducts()"
                  [disabled]="tabItem.type !== 'edit'"
                  type="button">
                </button>
              </div>
              <div class="field col-12 md:col-6 mt-3">
                <button pButton
                  label="Clone Q"
                  icon="pi pi-copy"
                  severity="secondary"
                  [outlined]="true"
                  [disabled]="!(permissions().cloneIpQuotation && tabItem.type !== 'create')"
                  (click)="cloneQ()"
                  type="button">
                </button>
              </div>
            </div>
            <div class="formgrid grid">
              <div class="field col-12 md:col-6 mt-1">
                <button pButton
                  label="Print"
                  icon="pi pi-print"
                  severity="help"
                  [outlined]="true"
                  (click)="printQR()"
                  [disabled]="tabItem.type === 'create' || item()?.products?.length === 0 || !tabItem.pristine"
                  type="button">
                </button>
              </div>
              <div class="field col-12 md:col-6 mt-1">
                <button pButton
                  label="Print & Send"
                  icon="pi pi-send"
                  severity="info"
                  [outlined]="true"
                  [disabled]="tabItem.type !== 'edit' || item()?.products?.length === 0 || !tabItem.pristine"
                  (click)="printAndSendQR()"
                  type="button">
                </button>
              </div>
            </div>
            <div class="formgrid grid">
              <div class="field col-12 md:col-12 mt-3">
                <p-floatLabel>
                  <p-inputNumber
                    [inputStyle]="{ 'text-align': 'right' }"
                    mode="currency"
                    [currency]="getCurrency()"
                    currencyDisplay="code"
                    [max]="999999999999"
                    formControlName="subTotal" />
                  <label>
                    SubTotal
                  </label>
                </p-floatLabel>
              </div>
              <div class="field col-12 md:col-12 mt-3">
                <p-floatLabel>
                  <p-inputNumber
                    [inputStyle]="{ 'text-align': 'right' }"
                    mode="currency"
                    [currency]="getCurrency()"
                    currencyDisplay="code"
                    [minFractionDigits]="5"
                    [maxFractionDigits]="5"
                    [max]="999999999999"
                    formControlName="freightCharges" />
                  <label>
                    Freight Charges
                  </label>
                </p-floatLabel>
              </div>
              <div class="field col-12 md:col-10 mt-3">
                <p-floatLabel>
                  <p-inputNumber
                    [inputStyle]="{ 'text-align': 'right' }"
                    mode="currency"
                    [currency]="getCurrency()"
                    currencyDisplay="code"
                    [max]="999999999999"
                    formControlName="otherCharges" />
                  <label>
                    Other Charges
                  </label>
                </p-floatLabel>
              </div>
              <div class="field col-12 md:col-2 mt-3" style="margin-left: -1rem;">
                <button pButton
                  icon="pi pi-pencil"
                  severity="warning"
                  [outlined]="true"
                  (click)="openModalListOtherCharges()"
                  [disabled]="tabItem.type !== 'edit'"
                  type="button">
                </button>
              </div>
              <div class="field col-12 md:col-12 mt-3">
                <p-floatLabel>
                  <p-inputNumber
                    [inputStyle]="{ 'text-align': 'right' }"
                    mode="currency"
                    [currency]="getCurrency()"
                    currencyDisplay="code"
                    [max]="999999999999"
                    formControlName="total" />
                  <label>
                    Total
                  </label>
                </p-floatLabel>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Footer: Dates -->
      <div class="formgrid grid" style="margin-bottom: -2.5rem;">
        <div class="field col-12 md:col-8 lg:col-8 xl:col-9 md:mt-5 lg:mt-5 xl:mt-5">
          @if(item() && item()?.createdAt) {
            <p-chip>
              <div class="p-2">
                <b>Created: </b>
                {{item()?.createdAt | date:'MMM dd, yyyy hh:mm a'}}
              </div>
            </p-chip>
          }
          @if(item() && item()?.sentAt) {
            <p-chip class="date">
              <div class="p-2">
                <b>Sent: </b>
                {{item()?.sentAt | date:'MMM dd, yyyy hh:mm a'}}
              </div>
            </p-chip>
          }
          @if(item() && item()?.answeredAt) {
            <p-chip class="date">
              <div class="p-2">
                <b>Answered: </b>
                {{item()?.answeredAt | date:'MMM dd, yyyy hh:mm a'}}
              </div>
            </p-chip>
          }
          @if(item() && item()?.completeAt) {
            <p-chip class="date">
              <div class="p-2">
                <b>Complete: </b>
                {{item()?.completeAt | date:'MMM dd, yyyy hh:mm a'}}
              </div>
            </p-chip>
          }
          @if(item() && item()?.rejectAt) {
            <p-chip class="date">
              <div class="p-2">
                <b>Rejected: </b>
                {{item()?.rejectAt | date:'MMM dd, yyyy hh:mm a'}}
              </div>
            </p-chip>
          }
        </div>
        @if(item() && item()?.clonedByQuotation && item()?.clonedByQuotation?.number) {
          <div class="field col-12 md:col-1 lg:col-1 xl:col-1" style="text-align: end !important; margin-top: 2.3rem !important; margin-right: -3rem !important;">
            <b>Cloned By Q# </b>
          </div>
          <div class="field col-12 md:col-1 lg:col-1 xl:col-1 md:mt-5 lg:mt-4 xl:mt-4">
            <p-button
              [label]="item()!.clonedByQuotation!.number"
              [link]="true"
              severity="primary"
              (click)="openQuotation({
                id: item()!.clonedByQuotation!.id,
                name: item()!.clonedByQuotation!.number
              })"
              type="button">
            </p-button>
          </div>
          <div style="margin-right: 3rem !important;"></div>
        } @else {
          <div class="field col-12 md:col-2 lg:col-2 xl:col-2"></div>
        }
      </div>
    </form>
  </div>
}@else {
  @if (loading()) {
    <div class="field col animate__animated animate__fadeIn">
      <p-progressBar
          class="w-20rem animate__animated animate__fadeIn"
          mode="indeterminate">
      </p-progressBar>
    </div>
  }
}
