@if(formDepartment) {
  <form [formGroup]="formDepartment" (ngSubmit)="saveAction()">
    <div class="p-fluid">
      <div class="formgrid grid">
          <div class="field col-12 md:col-6">
              <label>
                  Name
                  <span class="required">*</span>
              </label>
              <input pInputText type="text" formControlName="name"/>
          </div>

          <div class="field col-12 md:col-3">
            <label>
              Show Client Info
              <span class="required">*</span>
            </label>
            <br>
            <p-checkbox formControlName="clientInfo" [binary]="true" ></p-checkbox>
          </div>
          <div class="field col-12 md:col-3">
            <label>
              Show Supplier Info
              <span class="required">*</span>
            </label>
            <br>
            <p-checkbox formControlName="supplierInfo" [binary]="true" ></p-checkbox>
          </div>
          <div class="field col-12 md:col-12">
            <label>
              Description
            </label>
            <textarea rows="2" cols="30" pInputTextarea formControlName="description"></textarea>
          </div>
      </div>
    </div>

    @if (loading()) {
      <div class="field col animate__animated animate__fadeIn">
        <p-progressBar
            class="w-20rem animate__animated animate__fadeIn"
            mode="indeterminate">
        </p-progressBar>
      </div>
    }
    @if(error() !== null) {
      <label class="error">
        <em>
            {{error()}}
        </em>
      </label>
    }
    @if (!loading()) {
      <div class="mt-3 flex justify-content-end column-gap-4">
        <p-button
            icon="pi pi-times-circle"
            styleClass="p-button-sm p-button-danger"
            label="Cancel"
            (onClick)="closeModal()"
        ></p-button>
        <button
            pButton
            type="submit"
            label="Save"
            icon="pi pi-save"
            [disabled]="formDepartment.invalid"
            class="p-button-sm p-button-success">
        </button>
      </div>
    }
  </form>
} @else {
  <div class="field col animate__animated animate__fadeIn">
    <p-progressBar
        class="w-20rem animate__animated animate__fadeIn"
        mode="indeterminate">
    </p-progressBar>
  </div>
}
